[Unit]
Description=fastrpc Firmware Service
Before=adsprpcd_audiopd.service
Before=adsprpcd.service
Before=cdsp1rpcd.service
Before=cdsprpcd.service
Before=gdsp0rpcd.service
Before=gdsp1rpcd.service
Before=sdsprpcd.service

[Service]
ExecStart=/usr/libexec/fastrpc/setup-dsp.sh
Type=oneshot

[Install]
RequiredBy=adsprpcd_audiopd.service
RequiredBy=adsprpcd.service
RequiredBy=cdsp1rpcd.service
RequiredBy=cdsprpcd.service
RequiredBy=gdsp0rpcd.service
RequiredBy=gdsp1rpcd.service
RequiredBy=sdsprpcd.service
