[Unit]
Description=fastrpc Firmware Service
Before=adsprpcd_audiopd.service
Before=adsprpcd.service
Before=cdsp1rpcd.service
Before=cdsprpcd.service
Before=gdsp0rpcd.service
Before=gdsp1rpcd.service
Before=sdsprpcd.service

[Service]
ExecStart=/bin/bash -c 'rm -rf /usr/lib/dsp; \
SOC=$(cat /sys/devices/soc0/soc_id); \
MAC=$(cat /sys/firmware/devicetree/base/model); \
if [ "$MAC" = "Radxa Dragon Q6A" ]; then \
    ln -sf /usr/share/qcom/qcs6490/radxa/dragon-q6a/dsp /usr/lib/dsp; \
elif [ "$MAC" = "Radxa Dragon Q8B" ]; then \
    ln -sf /usr/share/qcom/sc8280xp/radxa/dragon-q8b/dsp /usr/lib/dsp; \
fi'

[Install]
RequiredBy=adsprpcd_audiopd.service
RequiredBy=adsprpcd.service
RequiredBy=cdsp1rpcd.service
RequiredBy=cdsprpcd.service
RequiredBy=gdsp0rpcd.service
RequiredBy=gdsp1rpcd.service
RequiredBy=sdsprpcd.service
